---
layout: default
---

<div class="home">
    <ul class="post-list">
        {% for job in site.pages %}
            {% if job.type %}
            <li>
                <a class="post-apply" href="{{ job.url | prepend: site.baseurl }}">See details</a>
                <h2>
                    <a class="post-link" href="{{ job.url | prepend: site.baseurl }}">{{ job.title }}</a>
                </h2>
                <span class="post-meta">{{ job.type }} - {{ job.location }}</span>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
