---
layout: default
---
<div class="post">
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">
			{% if page.type %}{{ page.type }} • {% endif %}
			{% if page.location %}{{ page.location }}{% endif %}
		</p>
	</header>

	<article class="post-content">
		{{ content }}
	</article>

	<footer class="post-jobapply">
		<hr>
		<p>To apply, send us an email at <a href="mailto:{{ site.email }}?subject={{ page.title| prepend: "Job: " | uri_escape }}">{{ site.email }}</a> with the items above. Let us know if you have any questions!</p>
		<a href="mailto:{{ site.email }}?subject={{ page.title| prepend: "Job: " | uri_escape }}" class="apply-button">Apply for this job</a>
	</footer>
</div>
